
#aboutUs {
    text-align: center;
    padding-top: 10px;
  }

  #aboutUs h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 100;
    color: white; 
  }

  #aboutUs h3 {
    color: #9CAE68;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
  }
  
  #aboutUs p {
    padding: 5px;
    text-align: center;
    color: #9CAE68;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
    opacity: .8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
  }
  
  .image1 {
  height: 250px;
  width: 270px;
  padding: 10px;
  opacity: 0.7;
  }
  
  .image1:hover {
    opacity: 1;
  }