nav > Link > nav-link {
    letter-spacing:  0.0375rem;
    cursor: pointer;
    color: white;
  }
  
  #pagelogo {
    height: 140px;
  }

  .navbar {
    background-color: #9CAE68;
  }
  
  nav ul li{
    text-transform: uppercase;
  }

  .navbar-login{
    display:flex;
    flex-direction: row;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  color: white;
  font-weight: bolder;
  font-family: Comic-Sans-MS, Comic-Sans, cursive !important;
  }

  .navbar-logout {
    display:flex;
    flex-direction: row;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  color: white !important;
  font-weight: bolder;
  font-family: Comic-Sans-MS, Comic-Sans, cursive !important;
  }
  
  .navbar-brand {
    max-width: 17.25rem;
    padding: 0 !important;
    height:6rem  !important;
  }
  
  .navbar-nav >li > a.active, .navbar-nav > li > a.active:focus {
    border-top: 0.1875rem solid white;
  }
  
  .navbar-nav > li > a:hover {
    border-top: 0.1875rem solid white;
  }
  
  .main-info {
    display: flex;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto Condesed"sans-serif;
  }
  
.main-info h1 {
    color: var(--primary-white);
    text-transform: uppercase;
  }
  

  
  .btn-start {
    display: inline-flex; 
    border:1px solid;
    margin-right:30px;
    text-transform: uppercase;
    border-radius: 0;
    padding:10px 12px 12px 12px !important;
    color: beige;
  } 
  
.btn-find {
    display: inline-flex;
    border:1px solid ;
    text-transform: uppercase;
    border-radius: 0;
    padding:10px 12px 12px 12px !important;
    color: beige;
  }

  /*  MEDIA QUERIES */
  @media(max-width: 768px){
    .main-info h1 {
      font-size: 1.5rem !important;
    }
  }
  