.loginForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    margin: auto;
    /* max-width: 500px; */
    height: auto;
    font-family: arial;
  }

  .submitBtn, .createAcctBtn {
    padding: 6px;
    margin-top: 5px;
    background-color: rgb(107, 156, 107);
    /* background-color: #9CAE68; */
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: white;
    width: 202px;
  }

  .submitBtn:hover, .createAcctBtn:hover {
      background-color: green;
  }

  label {
    padding: 5px;
  }